* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


/* hiển thị ở mobile */
.check-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(131, 209, 179), rgb(11, 165, 44));
    display: none;
}

.check-mobile img {
    width: 300px;
}

.check-mobile p {
    font-size: 20px;
}


/* background của trang */
.background {
    width: 100%;
}

.image-background {
    position: fixed;
    bottom: 20px;
    left: -10px;
    width: 104%;
    z-index: 2;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.781));
}

.image-grass {
    position: fixed;
    height: 110vh;
    z-index: 1;
}

.image-tree{
    position: fixed;
    left: -65px;
    top: 250px;
    z-index: 6;
    width: 280px;
}

.tiengtrung{
    position: fixed;
    bottom: 50px;
    z-index: 7;
    font-size: 50px;
    font-weight: 900;
    left: 50%;
    transform: translateX(-50%);
}


/* css của thẻ slider */
.slider-container {
    width: 100%;
    position: relative;
    z-index: 3;
    margin: 10px 0;
}

.slider {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}


.hsk {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 8px;
    flex: 0 0 calc((100% / 2) - 20px);
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.781));
}

.slide-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hsk-level {
    margin-top: 5px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(26, 6, 73);
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

.hsk-level:hover {
    color: aqua;
}


.button-container {
    z-index: 8;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 5px;
}

.button-container button {
    position: relative;
    top: -100px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    font-size: 25px;
    color: rgb(9, 4, 29);
}

.box-about{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999;
}

.box-about button{
    font-size: 30px;
    margin: 5px;
    background-color: transparent;
    border: 0;
}


/* reponsive kiểm tra thiết bị moblie */
@media (min-width: 481px) {
    .background {
        display: none;
    }

    .check-mobile {
        display: block;
    }
}

@media (max-width: 334px) {
    .hsk{
        width: 100px;
        height: 100px;
    }

    button{
        top: -80px;
    }
}